.overflow{
    
    width: 30px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
  }
.overflow:hover{
    overflow: visible; 
    white-space: normal;
    height:auto; 
  }