

.modal{
  --slds-c-modal-shadow:var(--slds-c-button-brand-color-background);
  
--slds-c-backdrop-color-background:var(--slds-c-button-brand-color-background-onclick);
}
.col{
  width: 30%;
}
.accord{
  width: 70%;
}
table
{
    table-layout: fixed;
    width: 190px;
}

td{
  text-overflow: ellipsis;
  word-break: break-all;
  overflow:hidden;
  white-space: nowrap;
}
td:hover{
  overflow: visible; 
  white-space: normal;
  height:auto; 
}
