
	.bal-now {
		
		background: rgba(156, 165, 202, 0.781);
	}
	.mon-av {
		
		background: rgba(233, 214, 190, 0.952);
	}
	.month{
		background: rgba(168, 161, 152, 0.952);
		color:rgba(40, 89, 145, 0.637);
	}
	.summ{
		background: rgba(233, 230, 196, 0.952);
	}
	.grey{
		background: rgba(173, 173, 170, 0.952);
	}
	
	